<p id="notice"><%= notice %></p>

<h1>Listing games</h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Date</th>
    <th>ID</th>
    <th>Players</th>
    <th>Show</th>
    <th>Modify</th>
    <th>Destroy</th>
    <th>Start game</th>
  </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
      <tr>
        <td>#</td>
        <td><%= game.name %></td>
        <td><%= game.game_date %></td>
        <td><%= game.id %></td>
        <td>
          <% if !game.players.empty? %>
              <p>has  <%= game.players.count %></p>
          <% else %>
              <p>don't have</p>
          <% end %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'Start', start_game_logic_path(game) %></td>
      </tr>
  <% end %>
  <tr colspan="9">
    <td>
      <%#= link_to 'New player', new_game_player_path %>
    </td>
  </tr>

  <tr colspan="9">
    <td>
      <%= link_to 'New', new_game_path %>
    </td>
  </tr>


  </tbody>
</table>