<%= form_for([@deck, @deck.cards]) do |f| %>
    <div class="field">
      <%= f.label :suit %>
      <%= f.text_field :suit %>
      <%#= f.select :suit, SUITS.all, :prompt => "--Choose a suit--" %>
    </div>
     <div class="field">
       <%= f.label :value %> <%= f.text_field :value %>
     </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>